html {
  min-height: 100%;
}

footer {
  text-align: center;
  font-size: small;
  margin: 4em 0;
}

footer a {
  color: #444;
}

div.tiles {
  width: 960px;
  margin: 10px auto;
  padding: 0;
  height: 100%;
  font-size: 0;
}

@media (min-width: 720px) and (max-width: 960px) {
  div.tiles  {
    width: 720px;
  }
}

@media (min-width: 480px) and (max-width: 720px) {
  div.tiles  {
    width: 480px;
  }
}

@media (max-width: 480px) {
  div.tiles  {
    width: 320px;
  }
}

div.tiles > div {
  font-size: 16px;
  border-radius: 5px;
  width: 220px;
  height: 220px;
  margin: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
  box-shadow: 0 0 10px #444;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin-top: 0.5em;
}

h1, h2, h3 {
  font-weight: normal;
  margin: 0;
}

strong {
  font-size: 200%;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.tiles .text {
  padding: 0 10px;
  text-align: center;
}

.tiles .text div {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  display: -moz-box;
  -moz-box-orient: vertical;
  -moz-box-pack: center;
  height: 100%;
}

.tiles .text p {
  margin: 0;
}

.orange-bg {
  background-color: #ff6a4d;
  color: white;
}

.blue-bg {
  background-color: #0b486b;
  color: white;
}

.green-bg {
  background-color: #5eb26b;
}

.green-bg a {
  color: #774f38;
}

.blue-bg a {
  color: #ff0;
}

.yellow-bg {
  background-color: #f8ca00;
  color: black;
}

.yellow-bg a {
  color: #0000cd;
}

.purple-bg {
  background-color: #9e0b46;
  color: white;
}

.red-bg {
  background-color: #a61416;
  color: white;
}

.red-bg a {
  color: #f1bbba;
}

.peach-bg {
  background-color: #fbc599;
}

.peach-bg a {
  color: #444;
}

.pink-bg {
  background-color: #db7093;
  color: white;
}

.pink-bg a {
  color: #d3d3d3;
}

.gray-bg {
  background-color: #d3d3d3;
  color: #c71585;
}

.gray-bg a {
  color: #9e0b46;
}

.sky-bg {
  background-color: #2495b5;
  color: white;
}

.sky-bg a {
  color: #ff9e9d;
}

.mikan-bg {
  background-color: #f8c226;
}

.brown-bg {
  background-color: #a76819;
}

.brown-bg a {
  color: #f8ecc9;
}

.black-bg {
  background-color: #222;
  background-image: -webkit-linear-gradient(top, #444, #000);
  background-image:    -moz-linear-gradient(top, #444, #000);
  background-image:      -o-linear-gradient(top, #444, #000);
  background-image:         linear-gradient(to bottom, #444, #000);
}

code {
  font-family: Inconsolota, Consolas, Menlo, monospace;
}

blockquote {
  border: 1px dotted;
}