.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

.visible-desktop {
  display: inherit !important;
}

@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
}

@media (max-width: 480px) {
  header > h1 {
    float: left;
    font-size: 28px;
    margin: 5px 0px 0px 35px;
  }
  
  header > h1::before {
    width: 18px;
    height: 21px;
    margin-bottom: -10px;
    margin-left: -35px;
  }

  header nav > ul > li > a {
    width: 85px; height:35px;
  }

  section > h2 {
    padding-top: 0px;
    margin-bottom: 10px;
  }
  
  body {
    font-size: 0.9em;
  }
  
  div.tiles {
    width: 100%;
  }
  div.tiles > div {
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    height: auto;
    margin: 0px;
    display: block;
    vertical-align: bottom;
    box-shadow: 0 0 5px #999;
    text-align: left;
  }
  
  div.tiles > div > span {
    background-image: url('tile_bckgrd.png');
    float: left;
    padding: 5px 10px;
    margin-right: 5px;
  }
  div.tiles > div > p {
    position: static;
    text-align: left;
  }
}