.vs_ui_checkbox {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.vs_ui_checkbox > fieldset {
  width: 100%;
  border: none;
  padding: 0px;
  margin: 0px;
  font-size: inherit;
}

fieldset > input[type="checkbox"]:first-child
{
  border: none;
}

input[type="checkbox"]
{
  width: 100%;
  -webkit-appearance: none;
  font-size: inherit;
  
  margin: 0px;
}

input[type="checkbox"]:after
{
  position: absolute;
  right: 10px;
  top: 50%;
}
