.vs_ui_checkbox {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.vs_ui_checkbox > fieldset {
  width: 100%;
  border: none;
  padding: 0px;
  margin: 0px;
  font-size: inherit;
}

fieldset > input[type="checkbox"]:first-child
{
  border: none;
}

input[type="checkbox"]
{
  width: 100%;
  -webkit-appearance: none;
  font-size: inherit;
  
  margin: 0px;
  min-height: 30px;
  width:30px;
  margin-top: 0px;
  float: right;
}

input[type="checkbox"]:after
{
  position: absolute;
  right: 10px;
  top: 50%;
}

.vs_ui_checkbox label {
  width: 100%;
  display: block;
}

.vs_ui_checkbox label:nth-child(2)
{
  border: none;
}
