.disks {
  height:400px;
  width:400px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.disks > div {
  position: absolute;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#disk3 {
  border-radius:300px;
  height:100px;
  width:100px;
  border: 50px dashed #F33E6F;
  background-clip:content-box;
  background-color:transparent;
  background:none;
  top:150px;
  left:150px;
  z-index:4;
}

#disk2 {
  border-radius:200px;
  height:200px;
  width:200px;
  border: 50px dashed #FDB45C;
  background-clip:content-box;
  background-color:transparent;
  background:none;
  top:100px;
  left:100px;
  z-index:3;
}

#disk1 {
  border-radius:300px;
  height:300px;
  width:300px;
  border: 50px dashed #DF8686;
  background-clip:content-box;
  background-color:transparent;
  background:none;
  top:50px;
  left:50px;
  z-index:2;
}

#disk0 {
  border-radius:400px;
  height:400px;
  width:400px;
  border: 50px dashed rgb(135, 214, 234);
  background-clip:content-box;
  background-color:transparent;
  background:none;
  top:0px;
  left:0px;
  z-index:1;
}