<div class="title">
{+new Link().toFile("index.html").withText("Class Index")+}
<h2> View All Classes</h2>
</div>
<ul class="classList">
	<for each="thisClass" in="data">
	<li>{!
		if (thisClass.alias == "_global_") {
			output += "<i>"+new Link().toClass(thisClass.alias)+"</i>";
		}
		else {
			output += new Link().toClass(thisClass.alias);
		}
	!}</li>
	</for>
</ul>
