@font-face {
  font-family: droid;
  src: local(DroidSans), url(droidsans.ttf);
}

body {
  font-family: droid;
  color: #f0f0f0;
  background: #181818;
}

.device_test {
	opacity: 0;
	margin-top: 9px;
}