.vs_ui_list {
  font-size: 18px;
  color:black;
}

li.pressed
{
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3985E7), color-stop(0.65, #1A70DD), color-stop(0.95,#1559AF), to(#444)) !important;
  
  color: white !important;
}

.vs_ui_list.DefaultList.arrow > ul > li:after,
.vs_ui_list.BlockList.arrow > ul > li > ul > li:after,
.vs_ui_list.TabList.arrow > ul > li > ul > li:after
{
  -webkit-box-sizing: border-box;
  content:none;
  margin-top: -8px;
}

.vs_ui_list.DefaultList.arrow > ul > li.pressed:after,
.vs_ui_list.BlockList.arrow > ul > li > ul > li.pressed:after,
.vs_ui_list.TabList.arrow > ul > li > ul > li.pressed:after
{
  content:none;
}


/********************************************************************
                Default List Item CSS
*********************************************************************/

.vs_ui_list.DefaultList > ul > li,
.vs_ui_list.BlockList > ul > li > ul > li,
.vs_ui_list.TabList > ul > li > ul > li
{
  padding: 10px 10px 0px 10px;
  min-height: 40px;
  
  border: none;
}

/********************************************************************
                Tab List Item CSS
*********************************************************************/

.vs_ui_list.DefaultList,
.vs_ui_list.TabList {
  border: none;
}

.vs_ui_list.TabList > ul > li > div  {
  font-weight: bold;
 
  padding: 1px 10px;
  border: none;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
  color: black;
  text-shadow: none;
  
  background:#b4b4b4;

  font-size: 0.8em;
  
  height: 20px;
  opacity:0.7;
}

/********************************************************************
                Block List Item CSS
*********************************************************************/

.vs_ui_list.BlockList {
  border: none;
  -webkit-border-radius: 0px;
}

.vs_ui_list.BlockList > ul > li > div  {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: bold;
  text-shadow: none;
  border: none;
  background: none;
}

.vs_ui_list.BlockList > ul {
  margin: 10px 0 10px 0;
}

.vs_ui_list.BlockList > ul > li {
  margin: 0px 10px 0 10px;
}

.vs_ui_list.BlockList > ul > li > ul {
  -webkit-border-radius: 0px;
  border: solid 1px #333;
  margin: 0px;
  margin-top: 10px;
  position: relative;
  overflow:hidden;
}