.vs_ui_textarea {
  font-size: 18px;
  line-height: 1.4;
  border: #CCC solid 1px;
  -webkit-box-shadow:inset 0 1px 4px rgba(0,0,0,0.3);
  -webkit-border-radius: 5px;
}

textarea:focus {
  border: orange solid 3px;
}
