.vs_ui_inputfield {
  min-width: 100px;
  border: 0px;
  margin: 0px;
  padding: 0px;
  background: white;
}

input {
  -webkit-user-select: text;
  -webkit-appearance: none;
  background: transparent;
}

.vs_ui_inputfield > input {
  border: none;
  background: transparent;
  margin: 0px;
  font-size: inherit;
  outline: none;
  position: relative;
  display: block;
  left: 5px;
  width: 100%;
  height: 100%;
  padding-right: 10px;
}

.vs_ui_inputfield.focus > input
{
  padding-right: 35px;
}

input[type="search"] {
  padding-left: 10px;
  padding-right: 10px;
  border-right: 20px solid transparent;
}

.vs_ui_inputfield .clear_button {
  position: relative;

  top: -100%;
  height: 30px;
  width: 30px;
  right: 0px;

  background: transparent;
  background-image: url('FieldCancel.png');
  background-repeat: no-repeat;
  
  float:right;
  z-index: 10;
}