.vs_ui_button
{
  font-family: Helvetica;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.597656) 0px -1px 0px;
}

.vs_ui_button.nav,
.vs_ui_button.nav_back, 
.vs_ui_button.nav_forward {
  padding-top: 8px;
}

.vs_ui_button.nav.black_ios_style, /** legacy comptability */
.vs_ui_button.nav.black_style
{
  height: 30px;
  -webkit-border-image:url('button_ios_black_released.png') 0 5 0 5;
  border-width: 0 5px 0 5px;
}

.vs_ui_button.nav.black_ios_style.pressed,
.vs_ui_button.nav.black_style.pressed
{
  -webkit-border-image:url('button_ios_black_pressed.png') 0 5 0 5;
}

.vs_ui_button.nav.blue_ios_style, /** legacy comptability */
.vs_ui_button.nav.blue_style
{
  height: 30px;
  -webkit-border-image:url('button_ios_blue_released.png') 0 5 0 5;
  border-width: 0 5px 0 5px;
}

.vs_ui_button.nav.blue_ios_style.pressed, /** legacy comptability */
.vs_ui_button.nav.blue_style.pressed
{
  -webkit-border-image:url('button_ios_blue_pressed.png') 0 5 0 5;
}


.vs_ui_button.nav.silver_ios_style, /** legacy comptability */
.vs_ui_button.nav.silver_style
{
  height: 30px;
  -webkit-border-image:url('button_ios_silver_released.png') 0 5 0 5;
  border-width: 0 5px 0 5px;
}

.vs_ui_button.nav.silver_ios_style.pressed, /** legacy comptability */
.vs_ui_button.nav.silver_style.pressed
{
  -webkit-border-image:url('button_ios_silver_pressed.png') 0 5 0 5;
}

.vs_ui_button.nav_back.blue_ios_style, /** legacy comptability */
.vs_ui_button.nav_back.blue_style
{
  height: 30px;
  -webkit-border-image:url('button_back_ios_blue_released.png')  0 4 0 16;
  border-width: 0 4px 0px 16px;
}

.vs_ui_button.nav_back.blue_ios_style.pressed, /** legacy comptability */
.vs_ui_button.nav_back.blue_style.pressed
{
  -webkit-border-image:url('button_back_ios_blue_pressed.png') 0 4 0 16;
}

.vs_ui_button.nav_forward.blue_ios_style, /** legacy comptability */
.vs_ui_button.nav_forward.blue_style
{
  height: 30px;
  -webkit-border-image:url('button_forward_ios_blue_released.png') 0 16 0 4;
  border-width: 0 16px 0px 4px;
}

.vs_ui_button.nav_forward.blue_ios_style.pressed, /** legacy comptability */
.vs_ui_button.nav_forward.blue_style.pressed
{
  -webkit-border-image:url('button_forward_ios_blue_pressed.png') 0 16 0 4;
}

.vs_ui_button.nav_back.black_ios_style, /** legacy comptability */
.vs_ui_button.nav_back.black_style
{
  height: 30px;
  -webkit-border-image:url('button_back_ios_black_released.png')  0 4 0 16;
  border-width: 0 4px 0px 16px;
}

.vs_ui_button.nav_back.black_ios_style.pressed, /** legacy comptability */
.vs_ui_button.nav_back.black_style.pressed
{
  -webkit-border-image:url('button_back_ios_black_pressed.png') 0 4 0 16;
}

.vs_ui_button.nav_forward.black_ios_style, /** legacy comptability */
.vs_ui_button.nav_forward.black_style
{
  height: 30px;
  -webkit-border-image:url('button_forward_ios_black_released.png') 0 16 0 4;
  border-width: 0 16px 0px 4px;
}

.vs_ui_button.nav_forward.black_ios_style.pressed, /** legacy comptability */
.vs_ui_button.nav_forward.black_style.pressed
{
  -webkit-border-image:url('button_forward_ios_black_pressed.png') 0 16 0 4;
}

.vs_ui_button.nav_back.silver_ios_style, /** legacy comptability */
.vs_ui_button.nav_back.silver_style
{
  height: 30px;
  -webkit-border-image:url('button_back_ios_silver_released.png')  0 4 0 15;
  border-width: 0 4px 0px 15px;
}

.vs_ui_button.nav_back.silver_ios_style.pressed, /** legacy comptability */
.vs_ui_button.nav_back.silver_style.pressed
{
  -webkit-border-image:url('button_back_ios_silver_pressed.png') 0 4 0 15;
}


.vs_ui_button.nav_forward.silver_ios_style, /** legacy comptability */
.vs_ui_button.nav_forward.silver_style
{
  height: 30px;
  -webkit-border-image:url('button_forward_ios_silver_released.png') 0 15 0 4;
  border-width: 0 15px 0px 4px;
}

.vs_ui_button.nav_forward.silver_ios_style.pressed, /** legacy comptability */
.vs_ui_button.nav_forward.silver_style.pressed
{
  -webkit-border-image:url('button_forward_ios_silver_pressed.png') 0 15 0 4;
}

/***************************************************************************

***************************************************************************/

.vs_ui_button.default
{
  border: 0px none;
  -webkit-border-radius: 12px;
  
  height: 43px;
  border-bottom-width: 0px;
  border-left-width: 12px;
  border-right-width: 12px;
  border-top-width: 0px;

  font-size: 20px;
  font-family: Helvetica;

  padding-top: 8px;
  border: solid 3px #83888F;
}

/*
.vs_ui_button.default::before {
  content:'';
  display: block;
  width: 100%;
  height: 100%;
  background-color: red;
}
*/

.vs_ui_button.default.white 
{ 
  color: black;
  text-shadow: rgba(255, 255, 255, 0.7) 0px 1px 0px;
  background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(234, 234, 234, 0.7)), color-stop(0.5, rgba(195, 195, 195, 0.7)), color-stop(0.5, rgba(166, 166, 166, 0.7)), to(rgba(167, 167, 167, 0.80)));
}

.vs_ui_button.default.white.pressed
{
  color: white;
  text-shadow: rgba(0,0,0, 0.7) 0px 1px 0px;
}

.vs_ui_button.default.red 
{
  color: white;
  text-shadow: rgba(0,0,0, 0.7) 0px -1px 0px;
  background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(255, 59, 59, 0.80)), color-stop(0.5, rgba(233, 72, 72, 0.90)), color-stop(0.5, rgba(184, 0, 0, 0.80)), to(rgba(255, 0, 0, 0.90)));
}

.vs_ui_button.default.red.pressed,
.vs_ui_button.default.green.pressed,
.vs_ui_button.default.grey.pressed
{
  color: black;
  text-shadow: rgba(255, 255, 255, 0.7) 0px -1px 0px;
}

.vs_ui_button.default.green 
{
  color: white;
  text-shadow: rgba(0,0,0, 0.7) 0px -1px 0px;
  background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(79, 156, 74, 0.7)), color-stop(0.5, rgba(54, 127, 35, 0.7)), color-stop(0.5, rgba(0, 113, 0, 0.7)), to(rgba(0, 150, 0, 0.7)));
}

.vs_ui_button.default.grey 
{
  color: white;
  text-shadow: rgba(0,0,0, 0.7) 0px -1px 0px;
  background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(74, 74, 74, 0.95)), color-stop(0.5, rgba(20, 20, 20, 0.85)), color-stop(0.5, rgba(2, 2, 2, 0.85)), to(rgba(14, 14, 14, 0.85)));
}

.vs_ui_button.default.grey.pressed
{
  color: #888;
  text-shadow: rgba(0,0,0, 0.7) 0px -1px 0px;
}
