.vs_ui_button
{
  font-family: Helvetica;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.597656) 0px -1px 0px;
}

.vs_ui_button.nav,
.vs_ui_button.nav_back, 
.vs_ui_button.nav_forward {
  padding-top: 8px;
}

.vs_ui_button.nav.black_ios_style, /** legacy comptability */
.vs_ui_button.nav.black_style
{
  height: 30px;
  -webkit-border-image:url('button_ios_black_released.png') 0 5 0 5;
  border-width: 0 5px 0 5px;
}

.vs_ui_button.nav.black_ios_style.pressed,
.vs_ui_button.nav.black_style.pressed
{
  -webkit-border-image:url('button_ios_black_pressed.png') 0 5 0 5;
}

.vs_ui_button.nav.blue_ios_style, /** legacy comptability */
.vs_ui_button.nav.blue_style
{
  height: 30px;
  -webkit-border-image:url('button_ios_blue_released.png') 0 5 0 5;
  border-width: 0 5px 0 5px;
}

.vs_ui_button.nav.blue_ios_style.pressed, /** legacy comptability */
.vs_ui_button.nav.blue_style.pressed
{
  -webkit-border-image:url('button_ios_blue_pressed.png') 0 5 0 5;
}


.vs_ui_button.nav.silver_ios_style, /** legacy comptability */
.vs_ui_button.nav.silver_style
{
  height: 30px;
  -webkit-border-image:url('button_ios_silver_released.png') 0 5 0 5;
  border-width: 0 5px 0 5px;
}

.vs_ui_button.nav.silver_ios_style.pressed, /** legacy comptability */
.vs_ui_button.nav.silver_style.pressed
{
  -webkit-border-image:url('button_ios_silver_pressed.png') 0 5 0 5;
}

.vs_ui_button.nav_back.blue_ios_style, /** legacy comptability */
.vs_ui_button.nav_back.blue_style
{
  height: 30px;
  -webkit-border-image:url('button_back_ios_blue_released.png')  0 4 0 16;
  border-width: 0 4px 0px 16px;
}

.vs_ui_button.nav_back.blue_ios_style.pressed, /** legacy comptability */
.vs_ui_button.nav_back.blue_style.pressed
{
  -webkit-border-image:url('button_back_ios_blue_pressed.png') 0 4 0 16;
}

.vs_ui_button.nav_forward.blue_ios_style, /** legacy comptability */
.vs_ui_button.nav_forward.blue_style
{
  height: 30px;
  -webkit-border-image:url('button_forward_ios_blue_released.png') 0 16 0 4;
  border-width: 0 16px 0px 4px;
}

.vs_ui_button.nav_forward.blue_ios_style.pressed, /** legacy comptability */
.vs_ui_button.nav_forward.blue_style.pressed
{
  -webkit-border-image:url('button_forward_ios_blue_pressed.png') 0 16 0 4;
}

.vs_ui_button.nav_back.black_ios_style, /** legacy comptability */
.vs_ui_button.nav_back.black_style
{
  height: 30px;
  -webkit-border-image:url('button_back_ios_black_released.png')  0 4 0 16;
  border-width: 0 4px 0px 16px;
}

.vs_ui_button.nav_back.black_ios_style.pressed, /** legacy comptability */
.vs_ui_button.nav_back.black_style.pressed
{
  -webkit-border-image:url('button_back_ios_black_pressed.png') 0 4 0 16;
}

.vs_ui_button.nav_forward.black_ios_style, /** legacy comptability */
.vs_ui_button.nav_forward.black_style
{
  height: 30px;
  -webkit-border-image:url('button_forward_ios_black_released.png') 0 16 0 4;
  border-width: 0 16px 0px 4px;
}

.vs_ui_button.nav_forward.black_ios_style.pressed, /** legacy comptability */
.vs_ui_button.nav_forward.black_style.pressed
{
  -webkit-border-image:url('button_forward_ios_black_pressed.png') 0 16 0 4;
}

.vs_ui_button.nav_back.silver_ios_style, /** legacy comptability */
.vs_ui_button.nav_back.silver_style
{
  height: 30px;
  -webkit-border-image:url('button_back_ios_silver_released.png')  0 4 0 15;
  border-width: 0 4px 0px 15px;
}

.vs_ui_button.nav_back.silver_ios_style.pressed, /** legacy comptability */
.vs_ui_button.nav_back.silver_style.pressed
{
  -webkit-border-image:url('button_back_ios_silver_pressed.png') 0 4 0 15;
}


.vs_ui_button.nav_forward.silver_ios_style, /** legacy comptability */
.vs_ui_button.nav_forward.silver_style
{
  height: 30px;
  -webkit-border-image:url('button_forward_ios_silver_released.png') 0 15 0 4;
  border-width: 0 15px 0px 4px;
}

.vs_ui_button.nav_forward.silver_ios_style.pressed, /** legacy comptability */
.vs_ui_button.nav_forward.silver_style.pressed
{
  -webkit-border-image:url('button_forward_ios_silver_pressed.png') 0 15 0 4;
}

/***************************************************************************

***************************************************************************/

.vs_ui_button.default
{
  border: 0px none;
  -webkit-border-radius: 0px;
  
  height: 43px;
  border-bottom-width: 0px;
  border-left-width: 12px;
  border-right-width: 12px;
  border-top-width: 0px;

  font-size: 20px;
  font-family: Helvetica;

  padding-top: 10px;
}

.vs_ui_button.default.white 
{ 
  color: black;
  text-shadow: rgba(255, 255, 255, 0.699219) 0px 1px 0px;
  -webkit-border-image: url("iOSDefautWhiteButton.png") 0 12 0 12 stretch stretch;
  background-image: none;
}

.vs_ui_button.default.white.pressed
{
  color: white;
  text-shadow: rgba(0,0,0, 0.699219) 0px 1px 0px;
  background-image:none;
}

.vs_ui_button.default.red 
{
  color: white;
  text-shadow: rgba(0,0,0, 0.699219) 0px -1px 0px;
  -webkit-border-image: url("iOSDefautRedButton.png") 0 12 0 12 stretch stretch;
  background-image:none;
}


.vs_ui_button.default.red.pressed,
.vs_ui_button.default.green.pressed,
.vs_ui_button.default.grey.pressed
{
  color: black;
  text-shadow: rgba(255, 255, 255, 0.699219) 0px -1px 0px;
  background-image:none;
}


.vs_ui_button.default.green 
{
  color: white;
  text-shadow: rgba(0,0,0, 0.699219) 0px -1px 0px;
  -webkit-border-image: url("iOSDefautGreenButton.png") 0 12 0 12 stretch stretch;
  background-image:none;
}

.vs_ui_button.default.grey 
{
  color: white;
  text-shadow: rgba(0,0,0, 0.699219) 0px -1px 0px;
  -webkit-border-image: url("iOSDefautGreyButton.png") 0 12 0 12 stretch stretch;
  background-image:none;
}
