body {
  width: 100%;
  background-image: url(background.png);
}

iframe {
  width: 320px;
  height: 460px;
  position: absolute;
  top: 45px;
  right: 10px;
  border-radius: 5px;
  box-shadow: 0 0 4px black;
  border: 3px solid #AAA;
}

#code, .CodeMirror {
  top: 45px;
  bottom: 10px;
  right: 350px;
  left: 10px;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 0 4px black;
  border: 3px solid #AAA;
  background-color: white;
}

.CodeMirror-scroll {
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  width: 100%;
}

#files {
  left: 250px;
  top: 10px;
  position: absolute;
  background-color: white;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #EEE), color-stop(0.5, white));
  background-image: -webkit-linear-gradient(center bottom, #EEE 0%, white 50%);
  background-image: linear-gradient(top, #EEE 0%,white 50%);
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid #AAA;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  height: 26px;
  line-height: 26px;
  padding: 0 0 0 8px;
  color: #444;
  text-decoration: none;
  min-width: 150px;
  font-size: 14px;
}

.button {
  top: 10px;
  position: absolute;
  background-color: white;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #EEE), color-stop(0.5, white));
  background-image: -webkit-linear-gradient(center bottom, #EEE 0%, white 50%);
  background-image: linear-gradient(top, #EEE 0%,white 50%);
  border-radius: 4px;
  border: 1px solid #AAA;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  line-height: 24px;
  color: #444;
  text-decoration: none;
  font-size: 14px;
  text-align: center;
  
  font:15px Trebuchet, Verdana, sans-serif;
  padding-top: 2px;
  
  box-sizing:border-box;
  height: 26px;
}

.button:nth-child(2) {
  left: 10px;
  width: 80px;
}

.button:nth-child(3) {
  left: 120px;
  width: 100px;
}

.button:active {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #EEE), color-stop(0.5, #DDD));
  background-image: -webkit-linear-gradient(center bottom, #EEE 0%, #DDD 50%);
  background-image: linear-gradient(top, #EEE 0%,#DDD 50%);
}

.button_doc {
  border-top: 1px solid #E3742B;
  background: #B13027;
  background: -webkit-linear-gradient(top, #CF4E1F, #B13027);
  display: block;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
  text-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;

  font:15px Trebuchet, Verdana, sans-serif;

  padding: 8px 12px;
  margin-left: 10px;
  display: inline;
  position: absolute;
  top: 3px;
  right:10px;
}

.button_doc:hover {
  background: #CF4E1F;
}

.button_doc:active {
  background: #B13027;
}