.vs_ui_radiobutton {
  font-size: 18px;
}
  
input[type="radio"]
{
  position: relative;
  padding: 9px 10px 9px 40px;
  color: inherit;
  text-shadow: none;
  height: 40px;

  border: none;
  background: none;
  border-radius: 0px;
}

input[type="radio"].pressed
{
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3985E7), color-stop(0.65, #1A70DD), color-stop(0.95,#1559AF), to(#444)) !important;
  color: white !important;
  text-shadow: none;
}

input[type="radio"]:after
{
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  -webkit-border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E2E2E2), color-stop(2%,#E2E2E2), color-stop(2%,#9E9E9E), color-stop(100%,#D6D6D6)) !important;
  content: ' ';
}

input[type="radio"]:checked:after
{
  content: ' ';
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#9DC3F3), color-stop(0.02, #5899EB), color-stop(0.3, #3985E7), color-stop(0.65, #1A70DD), to(#1559AF)) !important;
  border: 1px solid #777;
}
