.vs_ui_radiobutton {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.vs_ui_radiobutton > fieldset {
  width: 100%;
  border: none;
  padding: 0px;
  margin: 0px;
  font-size: inherit;
}

fieldset > input[type="radio"]:first-child
{
  border: none;
}

input[type="radio"]
{
  width: 100%;
  -webkit-appearance: none;
  font-size: inherit;

  margin: 0px;
  min-height: 30px;
  width:30px;
  margin-top: 0px;
  float: right;
  border: none;
}

input[type="radio"]:after
{
  position: absolute;
  right: 10px;
  top: 50%;
}

.vs_ui_radiobutton label {
  width: 100%;
  display: block;
}

.vs_ui_radiobutton label:nth-child(2)
{
  border: none;
}
