.vs_ui_navbar {
  width: 100%;
  top:0px;
  overflow: hidden;
  
  -webkit-transform: translate3d(0,0,0);
  z-index: 2000;
}

.vs_ui_navbar > div
{
  position: absolute;
  width: 100%;
  height: 100%;
}

.vs_ui_navbar >.vs_ui_textlabel
{
  font-weight: normal;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
