.vs_ui_navigationbar {
  height: 44px;
}

.vs_ui_navigationbar >.vs_ui_textlabel {
  font-family: Helvetica;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.597656) 0px -1px 1px;
}

.vs_ui_navigationbar.black_ios_style, /** legacy comptability */
.vs_ui_navigationbar.black_style {
  border-top: 1px solid #AAA;
  border-bottom:1px solid #AAA;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#858585), color-stop(3%,#616161), color-stop(31%,#4f4f4f), color-stop(47%,#3a3a3a), color-stop(51%,black), color-stop(99%,#262626), color-stop(100%,black));
}

.vs_ui_navigationbar.black_translucide_ios_style, /** legacy comptability */
.vs_ui_navigationbar.black_translucide_style {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(165,165,165,0.81)), color-stop(4%,rgba(131,131,131,0.81)), color-stop(48%,rgba(88,88,88,0.77)), color-stop(49%,rgba(49,49,49,0.77)), color-stop(51%,rgba(28,28,28,0.67)), color-stop(98%,rgba(20,20,20,0.62)), color-stop(99%,rgba(173,173,173,0.62)), color-stop(100%,rgba(0,0,0,0.62)));
}

.vs_ui_navigationbar.blue_ios_style, /** legacy comptability */
.vs_ui_navigationbar.blue_style {
  border-top: 1px solid #CAD6E2;
  border-bottom:1px solid #22374A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#AFBBCB), to(#6E86A4), color-stop(0.48, #8B9DB5), color-stop(0.5, #8195AF));
}