.vs_ui_navbar {
  height: 45px;
}

.vs_ui_navbar >.text  {
  font-family:  droid;
  text-shadow:  none;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.vs_ui_navbar.black_ios_style, /** legacy comptability */
.vs_ui_navbar.black_style
{
  background-image: -webkit-gradient(linear, left top, left bottom,
    from(#000), to(#181818));
}

.vs_ui_navbar.black_translucide_ios_style, /** legacy comptability */
.vs_ui_navbar.black_translucide_style
{
  background-image: -webkit-gradient(linear, left top, left bottom,
    from(#000), to(#181818));
}

.vs_ui_navbar.blue_ios_style, /** legacy comptability */
.vs_ui_navbar.blue_style
{
  background-image: -webkit-gradient(linear, left top, left bottom,
    from(#000), to(#181818));
}
