.vs_ui_progressbar {
  height:9px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0, white), color-stop(0.5, #eee), color-stop(0.51, #ddd), color-stop(1, #999));
  box-shadow: inset -1px 0 1px rgba(0, 0, 0, 0.5);
}

.vs_ui_progressbar > div {
  padding-left: 1px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6DB3F2), color-stop(0.5, #54A3EE), color-stop(0.51, #3690F0), to(#1E69DE));
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 125, 0.2);
  height:9px;
  min-width:9px;
}

@-webkit-keyframes vs_ui_progressbar_anim {
	0% { background-position-x:  0%; }
	100% { background-position-x: 100%; }
}

.vs_ui_progressbar.indeterminate {
  background-image: -webkit-gradient(linear, 18 0, 0 10, color-stop(0.23, rgba(255, 255, 255, 0)), color-stop(0.3, rgba(255, 255, 255, 0.8)), color-stop(0.3, rgba(255, 255, 255, 1)), color-stop(0.7, rgba(255, 255, 255, 1)), color-stop(0.7, rgba(255, 255, 255, 0.8)), color-stop(0.77, rgba(255, 255, 255, 0)));
  background-color: #388AD5;
  background-repeat: repeat-x;
  
  -webkit-background-size: 20px 10px;
  -webkit-background-position-x: 0%;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: vs_ui_progressbar_anim;
}