.vs_ui_progressbar {
  height:8px;
  background-color: #F9F9F9;
  border: 1px solid #999;
}

.vs_ui_progressbar >div {
  padding: 0px;
  height:6px;
  background-color: #00B400;
}

@-webkit-keyframes vs_ui_progressbar_anim {
	0% { background-position-x:  0%; }
	100% { background-position-x: 100%; }
}

.vs_ui_progressbar.indeterminate {
  background-image: -webkit-gradient(linear, 18 0, 0 10, color-stop(0.23, rgba(255, 255, 255, 0)), color-stop(0.3, rgba(255, 255, 255, 0.8)), color-stop(0.3, rgba(255, 255, 255, 1)), color-stop(0.7, rgba(255, 255, 255, 1)), color-stop(0.7, rgba(255, 255, 255, 0.8)), color-stop(0.77, rgba(255, 255, 255, 0)));
  background-color: #388AD5;
  background-repeat: repeat-x;
  
  -webkit-background-size: 20px 10px;
  -webkit-background-position-x: 0%;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-name: vs_ui_progressbar_anim;
}