html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}


#widgets_list, .panel {
  width: 100%;
  height: 100%;
}

.vs_ui_button.close {
  padding: 1px;
  line-height: 23px;
}

.tab_list > div {
  width: 100%;
  top: 50px;
  bottom: 0px;
}