.vs_ui_combobox {
  font-family: droid;
  font-weight: normal;
  height: 40px;
  color: black;
  font-size : 17px;
}

.vs_ui_combobox > select {
  color: #424142;
  padding-top: 2px;
}

.vs_ui_combobox > select:focus, .vs_ui_combobox > select:active {
  color: #fff  !important;
  background-image: -webkit-gradient(linear, left top, left bottom, 
    from(#fea94b), to(#ef7217)) !important;
}

.vs_ui_combobox:after
{
  margin-top: 17px;
}