.vs_ui_combobox {
  padding: 0px;
  margin: 0px;

  font-weight: normal;
  color: black;
  
  border: solid 1px black;
  background: white;
  
  border-radius: 5px;
}

.vs_ui_combobox > select {
  -webkit-appearance: none;
  text-align: left;
  padding: 0px;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  font-size: inherit;
  position:relative;
}

.vs_ui_combobox > div {
  text-align: left;
  padding: 0px;
  padding-left: 10px;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  background: transparent;
  font-weight: normal;
}

.vs_ui_combobox > select:focus {
  outline: none;
}

.vs_ui_combobox::after
{
  -webkit-box-sizing: border-box;
  border-color: #DDD transparent transparent;
  border-style: solid;
  border-width: 8px;
  content: '';

  height: 0px;
  width: 0px;

  top: 0px;
  left: auto;

  margin: 0px;
  margin-right: 8px;

  position: absolute;
  z-index: 2;
  display: block;
  right: 0px;
}