.vs_ext_ui_gmap_info {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4F4F4), to(#C4C4C4));
  border-radius: 6px;
  padding: 4px 10px;
  color: #424142;
  border: 1px solid #333;

  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 10px;
}

.vs_ext_ui_gmap_info::before {
  -webkit-box-sizing: border-box;
  border-color: #333 transparent transparent transparent;
  border-style: solid;
  border-width: 10px 10px 0px 10px;
  
  bottom: -10px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
}

.vs_ext_ui_gmap_info::after {
  -webkit-box-sizing: border-box;
  display: block;
  width: 0px;
  height: 0px;
  content: ' ';

  border-color: #C4C4C4 transparent transparent transparent;
  border-style: solid;
  border-width: 10px 10px 0px 10px;
  
  bottom: -9px;
  position: absolute;
  right: 50%;
  margin-right: -10px;
}

.vs_ext_ui_gmap_info.selected {
  background: -webkit-gradient(linear, left top, left bottom, from(#FEA94B), to(#EF7217)) !important;
  color: white;
}

.vs_ext_ui_gmap_info.selected::after {
  border-color: #EF7217 transparent transparent transparent;
}
/**
 @licence
  Copyright (C) 2009-2012. David Thevenin, ViniSketch SARL (c), and 
  contributors. All rights reserved
  
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as published
  by the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU Lesser General Public License for more details.
  
  You should have received a copy of the GNU Lesser General Public License
  along with this program. If not, see <http://www.gnu.org/licenses/>.
*/

.vs_ext_ui_accordion > dd {
  background-image: -webkit-gradient(linear,left top,left bottom,from(#CCD6DC),to(#ADB7C1));
  margin: 3px 0;
}

.vs_ext_ui_accordion > dt.selected
{
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEA94B), to(#EF7217)) !important;
}


.vs_ext_ui_accordion > dt.expanded
{
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, #5A5A5A), color-stop(0.99, #BEBEBE)) !important;

  color: rgb(240,240,240);
  text-shadow: 0 1px 0 rgba(0,0,0,0.7);
}

.vs_ext_ui_accordion > dt.collapsed {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, rgb(190,190,190)), color-stop(0.99, rgb(255,255,255)));
  
  color: rgb(90,90,90);
}
