#todo_app{
  background-color: rgb(67,107,118);
  width: 100%;
  height: 460px;
}

#todos_list{
  top: 45px;
  left: 0px;
  bottom: 40px;
  right: 0px;
}

#main_label{
  color: white;
  font-weight: bold;
  top: 14px;
  left: 10px;
  width: 60px;
  height: 20px;
}

#todo_text_field{
  top: 7px;
  left: 100px;
  right: 5px;
  height: 30px;
}

#delete_button{
  bottom: 5px;
  right: 5px;
  width: 175px;
  height: 30px;
}
