* {
 -ms-touch-action: none;
}

/********************************************************************
                    Vertical Layout
*********************************************************************/

.vs_ui_popover >.center.vertical_layout,
.application.vertical_layout,
.vs_ui_navbar.vertical_layout,
.vs_ui_view.vertical_layout,
.vs_ui_segmentedbutton.vertical > div
{
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -ms-flex-align: stretch;
}

.vs_ui_popover >.center.vertical_layout > *,
.application.vertical_layout > *,
.vs_ui_navbar.vertical_layout > *,
.vs_ui_view.vertical_layout > *,
.vs_ui_segmentedbutton.vertical > div > div
{
  -ms-flex-pack: justify;
  -ms-flex: 0 1 auto;
}

/********************************************************************
                    Horizontal Layout
*********************************************************************/

.vs_ui_popover >.center.horizontal_layout,
.application.horizontal_layout,
.vs_ui_splitview,
.vs_ui_navbar.horizontal_layout,
.vs_ui_view.horizontal_layout,
.vs_ui_segmentedbutton.horizontal > div,
.vs_ui_picker .slots
{
  display: -ms-flexbox;
  -ms-flex-direction: row;
  -ms-flex-align: stretch;
}

.vs_ui_popover >.center.horizontal_layout > *,
.application.horizontal_layout > *,
.vs_ui_splitview > *,
.vs_ui_navbar.horizontal_layout > *,
.vs_ui_view.horizontal_layout > *,
.vs_ui_segmentedbutton.horizontal > div > div,
.vs_ui_picker .slots > div
{
  -ms-flex-pack: justify;
  -ms-flex: 1 0 auto;
}