.vs_ui_popover {
  font-family: Helvetica;

  z-index: 3000;

  position: absolute;
  background: transparent;
  
  -webkit-border-radius: 8px;
/*  -webkit-box-shadow: 10px 10px 12px rgba(0,0,0,0.30); */
  
  min-height: 80px;
  min-width: 150px;
  
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, rgba(38,44,49,1)), color-stop(0.9, rgba(40,47,52,1)), color-stop(1, rgba(33,39,44,1)));

  overflow: visible;
}

.vs_ui_popover >.header {
  position: relative;

  top: 0px;
  width: 100%;
  height: 10px;

  display: block;

  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, rgba(100,116,130,0.95)), color-stop(1, rgba(38,44,49,1)));

  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  
  overflow: hidden;
}

.vs_ui_popover >.center {
  position: absolute;

  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;

  overflow: hidden;

  background-image: -webkit-gradient(linear, 14% 99%, 9% 51%, color-stop(0, rgb(190,190,190)), color-stop(0.99, rgb(255,255,255))) !important;
  -webkit-border-radius: 1px;

/*  -webkit-box-shadow: 1px 1px 3px black, inset 0px 0px 4px black; */
}

.vs_ui_popover >.footer {
  position: absolute;

  height: 10px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  display: block;

  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, rgba(33,39,44,1)), color-stop(1, rgba(11,13,15,0.95)));

  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;

  overflow: hidden;
}

.vs_ui_popover.withHeader >.header > * {
  position: absolute;
}

.vs_ui_popover.withFooter >.footer > * {
  position: absolute;
}


.vs_ui_popover >.arrow {
  position: absolute;
  display: block;
  float:right;
  z-index: -1;
}

.vs_ui_popover >.arrow.top {
  width:auto;
  height:15px;
  top:-13px;
  right:5px;
  left:5px;
  -webkit-mask-image: url("iOSPopOverArrowMaskH.png");
  -webkit-mask-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, rgba(38,44,49,0.95)), color-stop(0.3, rgba(100,116,130,0.95)), color-stop(1, rgba(100,116,130,0.95)));
}

.vs_ui_popover >.arrow.bottom {
  width:auto;
  height:15px;
  right:5px;
  left:5px;
  bottom:-13px;
  -webkit-mask-image: url("iOSPopOverArrowMaskH.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, rgba(38,44,49,0.95)), color-stop(0.1, rgba(33,39,44,0.95)), color-stop(1, rgba(11,13,15,0.95)));
}

.vs_ui_popover >.arrow.left {
  top:0px;
  bottom:0px;
  width:15px;
  height:auto;
  left:-13px;

  -webkit-mask-image: url("iOSPopOverArrowMaskV.png");
  -webkit-mask-repeat: no-repeat;
  
  -webkit-mask-position-y: 50px;

  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0, rgba(38,44,49,1)), color-stop(0.9, rgba(40,47,52,1)), color-stop(1, rgba(33,39,44,1)));
}

.vs_ui_popover >.arrow.right {
  top:0px;
  bottom:0px;
  width:15px;
  height:auto;
  right:-15px;

  -webkit-mask-image: url("iOSPopOverArrowMaskV.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-transform: rotate(180deg);
  
  -webkit-mask-position-y: 50px;

  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1, rgba(38,44,49,1)), color-stop(0.1, rgba(40,47,52,1)), color-stop(0, rgba(33,39,44,1)));
}