.vs_ui_slider.horizontal {
  background-image: -webkit-gradient(
    linear, left top,left bottom,
    color-stop(0, rgb(37,89,186)),
    color-stop(0.3, rgb(79,108,161)),
    color-stop(0.8, rgb(140,192,255)));

  height: 9px;

  -webkit-border-radius: 5px;
  -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}

.vs_ui_slider.vertical {
  background-image: -webkit-gradient(
    linear, left top, right top,
    color-stop(0, rgb(37,89,186)),
    color-stop(0.3, rgb(79,108,161)),
    color-stop(0.8, rgb(140,192,255)));

  width: 9px;

  -webkit-border-radius: 5px;
  -webkit-box-shadow:inset 1px 0 3px rgba(0,0,0,0.5);
}

.vs_ui_slider .handle {
  position:absolute;
  width: 23px;
  height: 23px;
  background-image: url('iOS_handler.png');
}

.vs_ui_slider .handle:active {
  background-image: url('iOS_handler_pressed.png');
}