html {
  width: 100%;
  height: 100%;
}

#animations {
  background-color: white;
  width: 100%;
  height: 100%;
}

#animations > div:first-child {
  width: 100%;
}

.buttons {
  position : aboslute;
  top: 200px;
  left: 10px; right: 10px;
}

.buttons > div {
  margin-right: 5px;
  margin-bottom: 5px;
  width: 95px;
  display: inline-block;
}

#view_to_animate {
  position : aboslute;
  top: 50px;
  left: 50%;
  width: 100px;
  height: 100px;
  background-color: red;
  margin-left: -50px;
}